
p{
background-color:aqua;   
}

main{
    text-align: center;
}
footer{
    text-align: center;
}
header{
    text-align: center;
}
main{
    background-color: aqua;
}
footer{
    background-color: aqua;

}
header{
    background-color: aqua;
}
